<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dkd.manage.mapper.TbSkuClassMapper">
    
    <resultMap type="TbSkuClass" id="TbSkuClassResult">
        <result property="classId"    column="class_id"    />
        <result property="className"    column="class_name"    />
        <result property="parentId"    column="parent_id"    />
    </resultMap>

    <sql id="selectTbSkuClassVo">
        select class_id, class_name, parent_id from tb_sku_class
    </sql>

    <select id="selectTbSkuClassList" parameterType="TbSkuClass" resultMap="TbSkuClassResult">
        <include refid="selectTbSkuClassVo"/>
        <where>  
            <if test="className != null  and className != ''"> and class_name like concat('%', #{className}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
        </where>
    </select>
    
    <select id="selectTbSkuClassByClassId" parameterType="Long" resultMap="TbSkuClassResult">
        <include refid="selectTbSkuClassVo"/>
        where class_id = #{classId}
    </select>
        
    <insert id="insertTbSkuClass" parameterType="TbSkuClass" useGeneratedKeys="true" keyProperty="classId">
        insert into tb_sku_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="className != null">class_name,</if>
            <if test="parentId != null">parent_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="className != null">#{className},</if>
            <if test="parentId != null">#{parentId},</if>
         </trim>
    </insert>

    <update id="updateTbSkuClass" parameterType="TbSkuClass">
        update tb_sku_class
        <trim prefix="SET" suffixOverrides=",">
            <if test="className != null">class_name = #{className},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
        </trim>
        where class_id = #{classId}
    </update>

    <delete id="deleteTbSkuClassByClassId" parameterType="Long">
        delete from tb_sku_class where class_id = #{classId}
    </delete>

    <delete id="deleteTbSkuClassByClassIds" parameterType="String">
        delete from tb_sku_class where class_id in 
        <foreach item="classId" collection="array" open="(" separator="," close=")">
            #{classId}
        </foreach>
    </delete>
</mapper>